html
head
    title Form
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet")
    link(href="./style.css" rel="stylesheet")
    style
        include ../css/style.css
    div.container
//-         div.cartContainer
//- .card(style='width: 18rem;')
//-     img.card-img-top(src='./../img/item1.jpg' alt='Card image cap')
//-     .card-body
//-         h5.card-title Card title
//-         p.card-text
//-             | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
//-         a.btn.btn-primary(href='#') Mua hàng
p helo