html
head
    title Form
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet")
body
    div.container
        .card(style = "margin-top: 5%;")
        h3.card-header ten : #{body.name}
        h3.card-header tuổi : #{body.age}
        h3.card-header gender : #{body.gender}